@model NickZPS.Models.SysUserRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SysUserRole</legend>

    <div class="display-label">SysUser</div>
    <div class="display-field">@(Model.SysUser == null ? "None" : Model.SysUser.LastName)</div>

    <div class="display-label">SysRole</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.SysRole).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


