
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:40px">
    
    <h1>About Us</h1>
    <div>
        <h3>At ZPS we understand <br>the important bond that exists<br>between you and your pets.</h3>
        <p>We are passionate about providing the best pet <br>supplies, pet products, pet care, advice and services<br>for pets at our stores across New Zealand. <br>Including: dogs, puppies, cats, kittens, fish, <br>birds, reptiles, rabbits and other small pets!<br><br>We also work alongside the SPCA to help animals <br>find their forever homes.</p>
        <p><strong>PLUS&nbsp;</strong>all leashed pets are welcome at ZPS – <br>we look forward to seeing you and your friends soon!</p>
        <p>&nbsp;</p>
        <h3>New Zealand’s leading pet retail store</h3>
        <p>At ZPS, our belief is that life is better with pets. We understand the joy when your dog greets you at the door or the comfort of your cat curled up on your lap. We understand the unconditional love that pets bring to our lives, each and everyday.</p>
        <p>We’ve dedicated ourselves to creating an awesome experience for people and their pets; to provide our customers with everything they need to become great pet parents, whether it is products; services and advice that they need. It’s what has made ZPS, New Zealand’s leading pet retailer.</p>
        <p>To make your shopping experience easy and enjoyable, we’ve employed pet passionate staff and trained them to assist you in caring for your pet. You’ll find your all your favourite brands both online and in store. Pet parents will find everything they need for their pets – high quality food, animal medicines, flea treatments, fun and educational toys, kennels, hutches, cages &amp; tanks, dog and cat grooming products, pet health supplements, pet shampoos and conditioners, and loads of good advice.</p>
        <p>In our eyes, the world is a better place with animals and the welfare of ALL animals is our top priority and so at ZPS, we pride ourselves on the commitment we’ve made to pets by actively supporting SPCA pet adoptions and also helping those pets with special needs through the ZPS Angels initiative</p>
        <p>If you have pets, be sure to bring them when you visit because at ZPS stores ALL leashed pets are welcome!</p>
        <p>When we opened our first store in Christchurch in 1995, our dream was to create a true pet superstore that could offer the complete pet experience, and help New Zealand be the best pet parents they can be.</p>
        <div style="position: absolute; width: 264px; height: 170px; top: 66px; left: 500px;"><img src="/Images/aboutus.png" alt="Young boy smiling holding puppy"></div>
    </div>
</div>
