body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Styles for component in forms
-----------------------------------------------------------*/
table
{
    border-collapse:collapse;
    border-spacing:0;
    border-left:1px solid #888;
    border-top:1px solid #888;
    background:#efefef;
}

th,td
{
    border-right:1px solid #888;
    border-bottom:1px solid #888;
    padding:5px 15px;
}

th
{
    font-weight:bold;
    background:#ccc;
    text-align: center;
}

td
{
    text-align: center;    
}

#holder-list .menu-box{
    float:left;
    width:160px;
    margin:0 20px 0 0;
}
#holder-list .box{
    float:left;
    width:160px;
    margin:0 20px 0 0;
}